<!--<app-provasun></app-provasun>-->
<!---->
<app-collapse-canvas></app-collapse-canvas>

<div class="headerTopp" id="headerTop">

    <div class="switchSideBar">
        <p-button icon="pi pi-bars" (click)="openCloseSideBar()">

        </p-button>
    </div>

    <a href="javascript:void(0)" [routerLink]="['/home']">
        <img id="logoImg" src="assets/images/header.component/varie/logo-white.png" />
    </a>
    <!--
     bisogna fare la pagina di presentazione
    <a class="aboutLink" href="javascript:void(0)" [routerLink] = "['/code/postgres']"> {{'header.about' | translate}}</a>
    -->
    <!--scelta corsi-->
    <p-menubar [model]="items" [autoDisplay]= 'false'>
       
    </p-menubar>

    <!--
    <a id="linkB" href="javascript:void(0)" [routerLink] = "['/auth/login']"> link </a>
    <a id="linkB" href="javascript:void(0)" [routerLink] = "['/home']"> link2 </a>  
    -->

    <input type="checkbox" id="toggle">
    <label for="toggle" class="lab"> <i class="ri-menu-line"></i></label>

    <div id="contentUtility" class="contentUtility" #drop>

        <!--
        <label class="themaChange">
            <input type="radio" name="thema" (change)="switchColor();" >               
            <i class="fa-solid fa-moon R" ></i>   
        </label>
        <label class="themaChange">
            <input type="radio" name="thema" (change)="switchColor();" checked>           
            <i class="fa-solid fa-sun R"></i>            
        </label>
    -->


        <!--
        <button id="changeTheme" pButton type="button" iconPos="left" label="{{'header.thema' | translate}}" (click)="switchColor();">
            <img id="iconChangeTheme" src="assets/images/header.component/varie/icon_light_dark.png" />            
        </button>
        -->
        <!--<label id="labelLanguage" for="float-input">{{'header.cambioLingua' | translate}}:</label>-->
        <div class="switchThema">
            <p-dropdown id="dropdownLanguage" [options]="languages" [(ngModel)]="selectedLenguage" optionLabel="name"
                (onChange)="switchLang(selectedLenguage.name)" [virtualScroll]="true"><!--[disabled]="true"-->
                <ng-template id="element" pTemplate="selectedItem">
                    <div class="country-item country-item-value" *ngIf="selectedLenguage">
                        <img id="dropdownLanguage-flag-selected"
                            src="assets/images/header.component/flag/flag-{{selectedLenguage.name}}.png"
                            [class]="'flag flag-' + selectedLenguage.code.toLowerCase()" />
                        <div>{{selectedLenguage.name}}</div>
                    </div>
                </ng-template>
                <ng-template let-lenguage pTemplate="item">
                    <div class="country-item">
                        <img id="dropdownLanguage-flag-selected"
                            src="assets/images/header.component/flag/flag-{{lenguage.name}}.png"
                            [class]="'flag flag-' + lenguage.code.toLowerCase()" />
                        <div>{{lenguage.name}}</div>
                    </div>
                </ng-template>
            </p-dropdown>


            <p-toggleButton [(ngModel)]="activedThema" (click)="switchColor();" onIcon="pi pi-sun" offIcon="pi pi-moon">


            </p-toggleButton>
        </div>
    </div>

</div>

<div id="collapserSideBar" class="collapse collapseSideBar">
    <div class="switchSideBarCloser" (click)="openCloseSideBar()">
        <p-button icon="pi pi-times">
        </p-button>

    </div>
    <div class="contentSideBar">
        <a href="javascript:void(0)" style="cursor: default;">
            <img class="logo-mini" src="assets/images/header.component/varie/logo-naked.png" />
        </a>
        <p-menubar [model]="items" [autoDisplay]= 'false'>
        </p-menubar>

        <p-dropdown id="dropdownLanguage" [options]="languages" [(ngModel)]="selectedLenguage" optionLabel="name"
            (onChange)="switchLang(selectedLenguage.name)">
            <ng-template id="element" pTemplate="selectedItem">
                <div class="country-item country-item-value" *ngIf="selectedLenguage">
                    <img id="dropdownLanguage-flag-selected"
                        src="assets/images/header.component/flag/flag-{{selectedLenguage.name}}.png"
                        [class]="'flag flag-' + selectedLenguage.code.toLowerCase()" />
                    <div>{{selectedLenguage.name}}</div>
                </div>
            </ng-template>
            <ng-template let-lenguage pTemplate="item">
                <div class="country-item">
                    <img id="dropdownLanguage-flag-selected"
                        src="assets/images/header.component/flag/flag-{{lenguage.name}}.png"
                        [class]="'flag flag-' + lenguage.code.toLowerCase()" />
                    <div>{{lenguage.name}}</div>
                </div>
            </ng-template>
        </p-dropdown>
    </div>
</div>

<!--
<div class="sun-container">
   
     <img class="sun" style="border-radius: 50px;" src="assets/images/header.component/varie/sun-14.gif" />   
       
</div>

<div class="moon-sun-container">
    <img class="moon" src="assets/images/header.component/varie/Moon_14.gif" />
</div>-->




<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
    <defs>
        <filter id="gooey">
            <!-- in="sourceGraphic" -->
            <feGaussianBlur in="SourceGraphic" stdDeviation="5" result="blur" />
            <feColorMatrix in="blur" type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
                result="highContrastGraphic" />
            <feComposite in="SourceGraphic" in2="highContrastGraphic" operator="atop" />
        </filter>
    </defs>
</svg>

<button id="gooey-button" class="buttonGlow" (click)="onTop();">
    <span class="bubbles">
        <i class="pi pi-angle-double-up"></i>
        <span class="bubble"></span>
        <span class="bubble"></span>
        <span class="bubble"></span>
        <span class="bubble"></span>
        <span class="bubble"></span>
        <span class="bubble"></span>
        <span class="bubble"></span>
        <span class="bubble"></span>
        <span class="bubble"></span>
        <span class="bubble"></span>
    </span>
</button>