<div class="footerContainer">
        
    
<footer class="footer">
    <!--
    <div class="social" >       
        <a href="#"><img  src="assets/images/footer.component/social/ig.png"/> </a>
        <a href="#"><img  src="assets/images/footer.component/social/twitter.png"/> </a>
        <a href="#"><img  src="assets/images/footer.component/social/youtube.png"/> </a>
    </div>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Home</a></li>
        <li class="list-inline-item"><a href="#">Services</a></li>
        <li class="list-inline-item"><a href="#">About</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
    </ul>
    <p class="copyright">Company Name © 2018</p>
    -->

<div class="waves">
      <div class="wave" id="wave1"></div>
      <div class="wave" id="wave2"></div>
      <div class="wave" id="wave3"></div>
      <div class="wave" id="wave4"></div>
    </div>
    <ul class="social-icon">      
      <li class="social-icon__item"><a class="social-icon__link" href="https://www.youtube.com/@marcospacecoding" target="_blank">
        <img class="social-icon_yt" style="color: white; " src="assets/images/footer.component/social/youtube-logo-alt2.png"/>
        </a></li>
        <!--
      <li class="social-icon__item"><a class="social-icon__link" href="#" target="_blank">
        <img  src="assets/images/footer.component/social/ig.png"/>
        </a></li>
        -->
    </ul>
    <ul class="menu">
      <li class="menu__item"><a class="menu__link" href="javascript:void(0)" [routerLink]="['/home']">Home</a></li>
      <li class="menu__item"><a class="menu__link" href="javascript:void(0)">About</a></li>
      <li class="menu__item"><a class="menu__link" href="javascript:void(0)">Contact</a></li>

    </ul>
    <p>&copy;2023 Marco'SpaceCoding | All Rights Reserved</p>
  </footer>
  
</div>
