.welcomeContent{   
    width: 100%;
    display: flex;   
    flex-direction: column;  
    justify-content: center;
    align-items: center;
  
}

.pippo { font-size: 200px; }

.imagePanic{   
    width: 400px;
    height: 400px;  
    margin-bottom: 100px;

}
.welcomeMessage{     
    font-size: 200px !important;
    color: white;
    text-align: center;
}
.contentLink{
    margin-top: -100px;
    margin-bottom: 300px;
    margin-left: 200px;
    //padding-bottom: 100px;
}
.linkStart{
    
    text-decoration: none;
    font-size: 70px;
    color: white;
    transition: var(--transition-delay);
}

.linkStart:hover{
    font-size: 80px;
}
