
<div class="sidebarConteiner">
    <input type="checkbox" id="burger">
    <label for="burger" *ngIf="nodes.length>0">       
        <i class="fa-solid fa-angle-left" id="burgerMenuClosed"></i>
    </label>

<div class="sidebar" id="sidebarGlobal">    
    <ul class="listCap">         
        <li class="listItem">
            <div *ngIf="nodes.length==0">      
                <div class="skeleton"><p-skeleton idth="10rem" height="4rem" borderRadius="16px" ></p-skeleton></div>
                <div class="skeleton"><p-skeleton idth="99%" height="4rem" borderRadius="16px" ></p-skeleton></div>
                <div class="skeleton"><p-skeleton idth="99%" height="4rem" borderRadius="16px" ></p-skeleton></div>
                <div class="skeleton"><p-skeleton idth="99%" height="4rem" borderRadius="16px" ></p-skeleton></div>
                <div class="skeleton"><p-skeleton idth="99%" height="4rem" borderRadius="16px" ></p-skeleton></div>
            </div>
            
            <p-tree [value]="nodes" *ngIf="nodes.length>0" (onNodeExpand)="refreshChildSelectedAddedEffects($event)" (onNodeCollapse)="refreshChildSelectedRemoveEffects($event)">
               
                <p-skeleton width="10rem" height="4rem" borderRadius="16px"></p-skeleton>
                <ng-template let-node pTemplate="url" >       
                    <p-button styleClass="p-button-link custom-p-button-linkLeaf"  (click)="changeSubChapter(node, node.key)">
                     <p class="paragraphSidebar" id="{{node.key}}">
                        <span class="paragraphSidebarChapter">{{node.key}}</span>&nbsp;
                        <span class="paragraphSidebarContent">{{node.label}}</span> 
                        <img class="puntinaPost-it" src="../../../assets/images/tutorial.content/side-bar/puntina.png"/>
                     </p>
                    </p-button>
                </ng-template>

                <ng-template let-node pTemplate="default" >   
                    <p-button  styleClass="p-button-link custom-p-button-link" (click)="changeChapter(node, node.key)">
                        <p class="paragraphSidebarOrphanNode" id="{{node.key}}">
                        <span class="paragraphSidebarChapter">{{node.key}}</span>&nbsp;
                        <span class="paragraphSidebarContent">{{node.label}}</span>   
                        <img class="puntinaPost-it" src="../../../assets/images/tutorial.content/side-bar/puntina.png"/>
                        </p>                     
                    </p-button>
                 </ng-template>           
            </p-tree>
        </li>       
    </ul>
</div>

</div>