.sidebar{        
    //position: fixed;
    max-height: 1000px;
   // border: 2px solid white;
    left: 0;
    width: 250px;
    height: 100%;
    background: white;
    overflow-y: auto;
    transition: all .4s ease;
    z-index: 9999;
    .listCap{
        list-style: none;
        
        button{
            display: block;
            height: 100%;
            width: 100%;            
            margin-bottom: 30px;
            margin-left: -20px;
            font-size: 20px;
            box-sizing: border-box;
            transition: .4s;
        }

        li:hover{
            button{
                margin-left: -5px;
            }
        }
    }
}

.skeleton{
    margin: 10px 10px !important;
    
}
#burger{
    display: none;      
}

label{
    #burgerMenuClosed{
        position: absolute;
        cursor: pointer;
        background: #042331;
        border-radius: 15px;
        color: white;
        margin-top: 15px;
        z-index: 0;
        left: 233px;        
        font-size: 15px;        
        padding: 4px 8px;
        transition: all .4s ease;
    }        
}

#burger:checked ~ .sidebar{
    width: 100px;
    
.listCap{
    .listItem{          
    .paragraphSidebarContent{        
            visibility: hidden;
            display: none;        
    }   
  
}
}   
    .descriptionCap {
        display: none; 
    }
}

#burger:checked ~ label #burgerMenu{     
    opacity: 100;   
}

#burger:checked ~ label #burgerMenuClosed{   
    left: 81px;
    transform: rotate(180deg);   
}

.listCap{
    margin-top: 1px;
    
}

.listItem{ 
        
    margin-left: -40px;
   .paragraphSidebarNode{
    font-size: 15px;    
    color: black;
    .paragraphSidebarChapter{
        font-size: 20px;       
       
    }
    
}

    .paragraphSidebarOrphanNode{
        display: flex;
        
        .paragraphSidebarChapter{
            font-size: 20px;      
          //  white-space: nowrap ;      
           // display: inline-block; 
        }
        .paragraphSidebarContent{
            padding-top: 4px;
            width: 180px;
           // display: inline-block;
           // white-space: nowrap ;
        }
    }

    .paragraphSidebar{
        display: flex;
       
        .paragraphSidebarChapter{
            font-size: 20px;   
           // white-space: nowrap ;
           // display: inline-block;
        }  
        .paragraphSidebarContent{
            padding-top: 4px;
            width: 180px;
        //    display: inline-block;
           // white-space: nowrap ;
        }             
    }

    .part{
        color: red;
       
    }
   
}

