<div class="contentAboutMePage">

  <div class="aboutMe">


      <div class="semiMenu">
        
        
        <div class="contentMenu">
         
          <div class="circleMenu">
            <a class='semi-circle'></a> 
            <a id="altoSinistra" class="altoSinistra" href="javascript:void(0)" (click)="menuClicked('altoSinistra');">
              <div>
              <i class="fa-solid fa-clock-rotate-left"></i>              
            </div></a>
            <a id="altoDestra" class="altoDestra" href="javascript:void(0)" (click)="menuClicked('altoDestra');">
              <div>
                <i class="fa-solid fa-fire fire"></i>
                <i class="fa-regular fa-heart heart"></i></div></a>    
            <a id="bassoSinistra" class="bassoSinistra" href="javascript:void(0)" (click)="menuClicked('bassoSinistra');">
              <div><i class="fa-solid fa-bullseye"></i></div></a>
            <a id="bassodestra" class="bassodestra" href="javascript:void(0)" (click)="menuClicked('bassodestra');">
              <div><i class="fa-regular fa-address-card"></i></div></a>
            <a class="centerImage" href="javascript:void(0)">
              <div class="visibleImage">
                <img id="logoImg" src="../../../../assets/images/logomc/about-me-rounde.png" />
              </div>
              <div class="firstRounded"></div>
              <div class="secondRounded"></div></a>
          </div>

          <div class="contentDescription">
              <div class="aboutMeDescription" *ngIf="showContent == 'bassodestra'">
                <h3>{{'aboutme.who.title' | translate }}</h3>
                <h5>{{'aboutme.who.subTitle' | translate }}...</h5>
                <p><br>{{'aboutme.who.p1' | translate }} <br><br>
                
                  {{'aboutme.who.p2' | translate }}<br>
                  {{'aboutme.who.p3' | translate }} 
                <br><br>
                {{'aboutme.who.p4' | translate }} <br>
                {{'aboutme.who.p5' | translate }}
                <br><br>
                {{'aboutme.who.p6' | translate }} <a href="https://www.youtube.com/@marcospacecoding" target="_blank">YouTube</a> {{'aboutme.who.p7' | translate }} <br>
                {{'aboutme.who.p8' | translate }} 
                <br><br>
                {{'aboutme.who.p9' | translate }}
                </p>
              </div>
              <div class="philoDescription" *ngIf="showContent == 'bassoSinistra'">
                <h3>{{'aboutme.philosophie.title' | translate }}</h3>              
                <p><br>
                  {{'aboutme.philosophie.p1' | translate }} <a href="https://www.youtube.com/@marcospacecoding" target="_blank">YouTube</a> {{'aboutme.philosophie.p2' | translate }} <br><br>

                  {{'aboutme.philosophie.p3' | translate }}<br><br>

                  {{'aboutme.philosophie.p4' | translate }} <br>
                  {{'aboutme.philosophie.p5' | translate }} <br>
                  {{'aboutme.philosophie.p6' | translate }}<br><br>

                  {{'aboutme.philosophie.p7' | translate }} <br><br>
                  {{'aboutme.philosophie.p8' | translate }} <br><br>
                  
                  {{'aboutme.philosophie.p9' | translate }}
                </p>
            </div>
            <div class="passionsDescription" *ngIf="showContent == 'altoDestra'">
              <blockquote>
                <h3>[...] {{'aboutme.passion.title' | translate }}</h3>
                <cite>{{'aboutme.passion.subTitle' | translate }}</cite>
              </blockquote>
              <p>      <br>          
                {{'aboutme.passion.p1' | translate }}<br>
                {{'aboutme.passion.p2' | translate }}<br><br>

                {{'aboutme.passion.p3' | translate }}<br>
                {{'aboutme.passion.p4' | translate }}<br><br>

                {{'aboutme.passion.p5' | translate }}<br>
                {{'aboutme.passion.p6' | translate }}<br>
                {{'aboutme.passion.p7' | translate }}<br>
                {{'aboutme.passion.p8' | translate }}<br><br>

                {{'aboutme.passion.p9' | translate }}<br>
                {{'aboutme.passion.p10' | translate }}<br><br>

                {{'aboutme.passion.p11' | translate }} 😅)!<br><br>

                {{'aboutme.passion.p12' | translate }}<br><br>

                {{'aboutme.passion.p13' | translate }}
              </p>
            </div>
            <div class="futureDescription" *ngIf="showContent == 'altoSinistra'">
              <h3>{{'aboutme.future.title' | translate }}</h3>
              <p><br>
                  {{'aboutme.future.p1' | translate }}<br><br>
                  {{'aboutme.future.p2' | translate }}<br>
                  {{'aboutme.future.p3' | translate }}<br><br>
                  {{'aboutme.future.p4' | translate }}<br>
                  {{'aboutme.future.p5' | translate }} <a href="https://www.javagalaxy.xyz/info/contact">{{'aboutme.future.p6' | translate }}</a>.<br>
                  {{'aboutme.future.p7' | translate }}<br><br>

                  {{'aboutme.future.p8' | translate }}<br><br>
                  {{'aboutme.future.p9' | translate }}<br><br>

                  {{'aboutme.future.p10' | translate }}<br>
                  {{'aboutme.future.p11' | translate }}<br><br>

                  {{'aboutme.future.p12' | translate }} <a href="https://www.youtube.com/@marcospacecoding" target="_blank">YouTube</a> {{'aboutme.future.p13' | translate }}<br><br>

                  {{'aboutme.future.p14' | translate }}<br><br>
                  {{'aboutme.future.p15' | translate }} <a href="https://www.youtube.com/@marcospacecoding" target="_blank">YouTube</a>.<br><br>

                  {{'aboutme.future.p16' | translate }} <br><br>
                  {{'aboutme.future.p17' | translate }}
              </p>
            </div>              
          </div>
        </div>
      </div>
  </div>

</div>