.contentAboutMePage{
  margin-top: 470px;
  height: 100vp;
  width: 99%;
  border: 2px solid black;
  background-color: white;
  margin-left: 5px;
  margin-bottom: 80px;
  border-radius: 20px 20px 10px 10px;
 

  .contentMenu{
    margin-top: -300px;
    min-width: 348px;
    min-height: 348px;
    display: flex;
    flex-direction: column;
    
    .semi-circle {
      top: 10% !important;
      /* left: 5%; */
      width: 100%;
      height: 50%;
      background-color: #ffffff;
      border-radius: 25rem 25rem 0 0;
    }
  
    
    .contentDescription {
      margin-top: -100px;
      margin-bottom: 100px;
      margin-left: 20px;
      margin-right: 20px;

      .aboutMeDescription, .philoDescription, .passionsDescription, .futureDescription{
        h3, h5, blockquote{
          text-align: center;
          cite{
            font-size: 23px;
          }
        }
        h3{
          font-size: 50px;
        }
        h5{
          font-size: 30px;
        }
        p{
          font-size: 35px;
        }
      }
    }
  }


  .circleMenu{
    position:relative;
    //width:80vmin; 
    //height:80vmin;
    width: 600px;
    height: 600px;
    margin:0 auto;
    background:inherit;    
    min-height: 300px;
    min-width: 300px;

    a{
      transition: transform var(--transition-delay);
      position:absolute;
      left:0; 
      top:0;
      width:47.5%; 
      height:47.5%;
      overflow:hidden;
      transform:scale(.6);
      background-color: transparent;
    }

    a div{
      transition: var(--transition-delay);
      height:100%;
      background-size:cover;
      border-radius:inherit;
    }

    .centerImage{
      transition: none;
    }

    .altoSinistra{
      border-radius:40vmin 0 0 0;
      transform-origin: 110% 110%;
      opacity: 0.7;
      
      &:hover {
        opacity: 1;
        transform:scale(.6) translate(-5px, -5px) !important;
        -webkit-box-shadow: 0px 1px 20px 3px #000000; 
        box-shadow: 0px 1px 20px 3px #000000;
      }
      
      div{  
        
        animation: shake 6s infinite cubic-bezier(.36,.07,.19,.97) both; 
        animation-delay: 2s;
       // background-image:url('https://farm3.staticflickr.com/2827/10384422264_d9c7299146.jpg');
        background: linear-gradient(221deg, rgba(39,35,93,1) 0%, rgba(17,79,147,1) 12%, rgba(105,161,189,1) 100%);

      i{
        position: relative;
        top: 70px;
        left: 85px;
        font-size: 71px;
        transform: rotate(317deg);
        color: white;
        transform: scaleX(-1);
      }
      }
    }   

    .clickedaltoSinistra {
      opacity: 1;
      transform:scale(.6) translate(-5px, -5px) !important;
      -webkit-box-shadow: 0px 1px 20px 3px #000000; 
      box-shadow: 0px 1px 20px 3px #000000;
      div{ 
        animation: none;
      }
    }

    

    
    .altoDestra{
      border-radius:0 40vmin 0 0;
      left:52.5%;
      transform-origin: -10% 110%;
      opacity: 0.7;
      &:hover {
        opacity: 1;
        transform:scale(.6) translate(5px, -5px) !important;
        -webkit-box-shadow: 0px 1px 20px 3px #000000; 
        box-shadow: 0px 1px 20px 3px #000000;
      }
      div{
        //background-image:url('https://farm7.staticflickr.com/6083/6055581292_d94c2d90e3.jpg');
        animation: shake 6s infinite cubic-bezier(.36,.07,.19,.97) both; 
        animation-delay: 2s;
        background: linear-gradient(303deg, rgba(39,35,93,1) 0%, rgba(17,79,147,1) 12%, rgba(105,161,189,1) 100%);
          .fire{
            position: relative;
            top: 63px;
            left: 180px;
            font-size: 25px;
            color: red;
          }
         .heart{
          position: relative;
          top: 89px;
          left: 117px;
          font-size: 75px;
          color: white;
          transform: scaleX(-1);
        }
      }
    }

    .clickedaltoDestra {
      opacity: 1;
      transform:scale(.6) translate(5px, -5px) !important;
      -webkit-box-shadow: 0px 1px 20px 3px #000000; 
      box-shadow: 0px 1px 20px 3px #000000;
      div{ 
        animation: none;
      }
    }

    .bassoSinistra{
      border-radius:0 0 0 40vmin;
      top:52.5%;
      transform-origin: 110% -10%;
      opacity: 0.7;
      &:hover {
        opacity: 1;
        transform:scale(.6) translate(-5px, 5px) !important;
        -webkit-box-shadow: 0px 1px 20px 3px #000000; 
        box-shadow: 0px 1px 20px 3px #000000;
      }
      div{
        //background-image:url('https://farm7.staticflickr.com/6092/6227418584_d5883b0948.jpg');
        animation: shake 6s infinite cubic-bezier(.36,.07,.19,.97) both; 
        animation-delay: 2s;
        background: linear-gradient(142deg, rgba(39,35,93,1) 0%, rgba(17,79,147,1) 12%, rgba(105,161,189,1) 100%);
        i{
          position: relative;
          top: 136px;
          left: 79px;
          font-size: 70px;
          transform: rotate(311deg);
          color: white;
        }
      }
    }

    .clickedbassoSinistra {
      opacity: 1;
      transform:scale(.6) translate(-5px, 5px) !important;
      -webkit-box-shadow: 0px 1px 20px 3px #000000; 
      box-shadow: 0px 1px 20px 3px #000000;
      div{ 
        animation: none;
      }
    }

    .bassodestra{
      border-radius:0 0 40vmin 0;
      top:52.5%; 
      left:52.5%;
      transform-origin: -10% -10%;
      opacity: 0.7;
      &:hover {
        opacity: 1;
        transform:scale(.6) translate(5px, 5px) !important;
        -webkit-box-shadow: 0px 1px 20px 3px #000000; 
        box-shadow: 0px 1px 20px 3px #000000;
      }
      div{
      //  background-image: url('https://farm8.staticflickr.com/7187/6895047173_d4b1a0d798.jpg');
        animation: shake 6s infinite cubic-bezier(.36,.07,.19,.97) both; 
        animation-delay: 2s;
        background: linear-gradient(50deg, rgba(39,35,93,1) 0%, rgba(17,79,147,1) 12%, rgba(105,161,189,1) 100%);
        i{
          position: relative;
          top: 116px;
          left: 136px;
          font-size: 80px;
          transform: rotate(311deg);
          color: white;
        }
      }
    }

    .clickedbassodestra {
      opacity: 1;
      transform:scale(.6) translate(5px, 5px) !important;
      -webkit-box-shadow: 0px 1px 20px 3px #000000; 
      box-shadow: 0px 1px 20px 3px #000000;
      div{ 
        animation: none;
      }
    }
   
    .centerImage{
      width:55%;
      height:55%;
      left:22.5%; 
      top:22.5%;
      border-radius:50vmin;
      box-shadow:0 0 0 5vmin #E3DFD2;
      cursor: default;
      .visibleImage{
        //background-image: url('https://farm4.staticflickr.com/3766/12953056854_b8cdf14f21.jpg');
        background-image: url('../../../../assets/images/about/about-me.png');
      }

      .firstRounded{
        border-top: 10px solid rgb(209, 139, 46);
        position: absolute;
        width: 101%;
        height: 101%;
        top: -3px;
        animation: spin 5s infinite reverse linear;
      }

      .secondRounded{
        border-top: 10px solid rgb(12, 10, 7);
        position: absolute;
        width: 101%;
        height: 101%;
        top: -3px;
        animation: spin 5s infinite linear;
      }
    }
  }
}

@keyframes spin {
  100% {
      transform: rotate(1turn);
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {

  .contentMenu{
    margin-top: -200px !important;
  }

  .circleMenu{
    width: 400px !important;
    height: 400px !important;
    margin-bottom: 80px !important;

    .altoSinistra{
      i{
        top: 51px !important;
        left: 53px !important;
        font-size: 45px !important;
      }
    }

    .altoDestra{
      .fire{
        top: 37px !important;
        left: 118px !important;
        font-size: 17px !important;
      }
      .heart{
        top: 56px !important;
        left: 76px !important;
        font-size: 50px !important;
      }

    }

    .bassoSinistra{
      i{
        top: 97px !important;
        left: 57px !important;
        font-size: 46px !important;
      }

    }

    .bassodestra{
      i{
        top: 81px !important;
        left: 94px !important;
        font-size: 50px !important;
      }
    }
  }

  .contentDescription {

    .aboutMeDescription, .philoDescription, .passionsDescription, .futureDescription{
     
      h3{
        font-size: 40px !important;
      }
      h5{
        font-size: 25px !important;
      }
      p{
        font-size: 25px !important;
      }
    }
  }

}

@media screen and (max-width: 480px) {

  .contentMenu{
    margin-top: -150px !important;
  }

  .circleMenu{
    width: 300px !important;
    height: 300px !important;

    .altoSinistra{
      i{
        top: 33px !important;
        left: 44px !important;
        font-size: 42px !important;
      }
    }

    .altoDestra{
      .fire{
        top: 25px !important;
        left: 87px !important;
        font-size: 15px !important;
      }
      .heart{
        top: 41px !important;
        left: 48px !important;
        font-size: 45px !important;
      }

    }

    .bassoSinistra{
      i{
        top: 65px !important;
        left: 41px !important;
        font-size: 43px !important;
      }

    }

    .bassodestra{
      i{
        top: 55px !important;
        left: 65px !important;
        font-size: 45px !important;
      }
    }
  }

  .contentDescription {

    .aboutMeDescription, .philoDescription, .passionsDescription, .futureDescription{
      h3, h5, blockquote{
       
        cite{
          font-size: 17px !important;
        }
      }
      h3{
        font-size: 30px !important;
      }
      h5{
        font-size: 22px !important;
      }
      p{
        font-size: 20px !important;
      }
    }
  }
}


@keyframes shake {
  0% { transform:translate(0,0) }
  1.78571% { transform:translate(5px,0) }
  3.57143% { transform:translate(0,0) }
  5.35714% { transform:translate(5px,0) }
  7.14286% { transform:translate(0,0) }
  8.92857% { transform:translate(5px,0) }
  10.71429% { transform:translate(0,0) }
  100% { transform:translate(0,0) }
}