<!--
<div>

    <p style="font-size: 100px; color: red;"  appAppDraggable draggable="true">utility-menu works!</p>
</div>
-->

<div id="ContentToolBar" class="ContentToolBar" appAppDraggable draggable="true">
    <div id="toolBarShake" class="toolBarShake">

        <div id="contentMenuLeft" class="contentMenuLeft">
            <button pButton pRipple type="button" class="p-button-danger" [disabled]="!isAvailable" (click)="openAndCloseYouTube()">
                <i class="pi pi-youtube" style="font-size: 1.5rem" [pTooltip]="availabilityMessage"
                    tooltipPosition="bottom"></i>
            </button>
        </div>

        <div class="toolBar">

            <button id="burgerUtilityMenu" class="bottone" (click)="openAndCloseBurger()" pTooltip="Drag me"
                tooltipPosition="bottom" tooltipEvent="focus" [life]="2000">
                <div></div>
                <div></div>
                <div></div>
            </button>
        </div>

        <div id="contentMenuRight" class="contentMenuRight">
           
            <button pButton pRipple type="button" class="p-button-danger" (click)="openAndCloseLegend()">
                <i class="pi pi-book" style="font-size: 1.3rem"></i>
            </button>
       
        </div>
    </div>

    <div id="youTubeContent" class="youTubeContent">
        <youtube-player [videoId]="videoId" [height]="height" [width]="width"> </youtube-player>
    </div>
   

</div>

<div class="cone"></div>
<div class="utilitySideBar" id = "utilitySideBar">

<p-accordion>
    <p-accordionTab header="{{'ContentBodyTutorial.legend.header_table' | translate }}">
<div class="contentLegend">    
    <div class="contentIconLegend">
        <img class="iconLegend" src="../../../assets/images/Legend/importantArgumentLegend.png" alt="">
        <div class="generalSettings textLegend">{{'ContentBodyTutorial.legend.important_topic' | translate }}</div>
    </div>
    <div class="contentIconLegend">
        <img class="iconLegend" src="/../../assets/images/Legend/bestPracticeLegend.png" alt="">
        <div class="generalSettings textLegend">{{'ContentBodyTutorial.legend.best_practice' | translate }}</div>
    </div>
    <div class="contentIconLegend">
        <img class="iconLegend" src="../../../assets/images/Legend/complexConceptLegend.png" alt="">
        <div class="generalSettings textLegend">{{'ContentBodyTutorial.legend.complex_topic' | translate }}</div>
    </div>
    <div class="contentIconLegend">
        <img class="iconLegend" src="../../../assets/images/Legend/commonErrorLegend.png" alt="">
        <div class="generalSettings textLegend">{{'ContentBodyTutorial.legend.common_error' | translate }}</div>
    </div>
    <div class="contentIconLegend">
        <img class="iconLegend" src="../../../assets/images/Legend/trickLegend.png" alt="">
        <div class="generalSettings textLegend">{{'ContentBodyTutorial.legend.trick' | translate }}</div>
    </div>
</div>
</p-accordionTab>
</p-accordion>
</div>

<!--
<youtube-player [videoId]="videoId"> </youtube-player>-->