<div class="hiddenCodeTemplate">
    <div class="center">
        <button class="buttonShowHide" (click)="showHide(idGlass)">
            {{buttonText}}
        </button>
    </div>
    <div class="codeblock textFormat codeBlockHideOver" id="{{'codeBlockExercise' + idGlass}}">

        <code>
        <div class="glass" id="{{'glassWindow' + idGlass}}"></div>      
        <div>

            <ng-container *ngFor="let item of olContents | keyvalue">
                    <div class="article" [innerHTML]="item.value"></div>   
            </ng-container>
    
    </div>  
    </code>

    </div>

</div>