.reddo{
    background-color: black;
    color: red;
}

.red{
    background-color: red;
    color: white;

}

.headerTop{
    text-align: center;
    margin-top: 10px;
}

.topTitle{
    text-align: center;
}

.subTitle{
    margin-left: 20px;
}

.subBodyContaine{
    margin-left: 10px;
    margin-right: 10px;
}

ul.ui-tabview-nav li:first-child span {
    color: red;
  }
  .ui-tabview-title {
    color: red;
  }

