.tutorialBodyContent{
    .defaultTutorialContent{
    margin-left: 30px;
    margin-right: 20px;
    }
.skeleton{
    margin: 10px 10px !important;
    
}
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 16px;
}

.buttonNavigate{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .p-button{
        background-color: var(--navbar-color);    
        transition: var(--transition-delay);   
        color: var(--text-color);
        border: none;
        
       }
    
      .p-button:enabled:hover {
        transition: var(--transition-delay-hover); 
        background-color: var(--navbar-hover-component-color) !important;  
        color:  var(--text-color); 
      }
    
      .p-button:enabled:focus {    
        outline: 0 none !important;
      outline-offset: 0 !important;
      box-shadow: none !important;  
      }
      
      .p-button:enabled:active{    
        color: rgb(19, 223, 63);   
        background-color: var(--navbar-color) !important; 
      }
}


.contentButtonPrevious{
    margin-right: auto;
   
    .p-button{
        margin-left: 30px;
        i{
            margin-right: 7px;
            margin-top: 3px;
        }
    }
}
.contentButtonNext{
    .p-button{
        margin-right: 30px;
        i{
            margin-left: 7px;
            margin-top: 3px;
        }
       }
}

.onTheBottom{
    margin-bottom: 30px;
}






.reddo{
    background-color: black;
    color: red;
}

.red{
    background-color: red;
    color: white;

}



.headerTop{
    text-align: center;
    margin-top: 10px;
}

.topTitle{
    text-align: center;
}

.subTitle{
    margin-left: 20px;
}

.subBodyContaine{
    margin-left: 10px;
    margin-right: 10px;
}

ul.ui-tabview-nav li:first-child span {
    color: red;
  }
  .ui-tabview-title {
    color: red;
  }

