
//////
.wrapper {
  position: relative;
  perspective: 40em;
  display: grid;
  transform-style: preserve-3d;
}

.card {
  grid-area: 1 / 1;
  height: 200px;
  width: 400px;
  transform: translateX(10px) rotateY(25deg) rotateX(10deg);
  background: rgba(249, 198, 26, 0.88);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
  color: #000;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 900;
  backface-visibility: hidden;
  box-shadow: 0 10px 30px -3px rgba(0,0,0,.1);
}

h1 {
  font-size: 30px;
  font-weight: 900;
}

.card .enclosed {
  background: #000;
  line-height: 1;
  color: rgba(249, 198, 26, 1);
  padding: 0 5px;
  display: inline-block;
  transform: translate(-1px, 1px) scale(0.75);
  transform-origin: right center;
}

.wrapper:before {
  --bw: 9px;
  grid-area: 1 / 1;
  content: '';
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
  margin-top: calc(-1 * var(--bw));
  margin-left: calc(-1 * var(--bw));
  background: transparent;
  transform: translateX(-60px) rotateY(-30deg) rotateX(15deg) scale(1.03);
  pointer-events: none;
  border: var(--bw) solid rgb(255, 3, 3);
 // border-radius: 50%;
  box-sizing: content-box;
}
/*.wrapper:hover > div,
.wrapper:hover:before {
  transform: none;
}*/
.wrapper > div,
.wrapper:before {
  will-change: transform;
  transition: .3s transform cubic-bezier(.25,.46,.45,1);
}

/*//////////////////////// animazione liquido
.a {
  position: relative;
  padding: 20px 50px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  width: 500px;
  height: 300px;
  overflow: hidden;
  border-radius: 40px;
}

.a p {
  //position: absolute;
  //margin-top: 15%;
  //color: #fff;
  // font-size: 30px;
  z-index: 1;
}

.a .liquid {
  position: absolute;
  top: -130px;
  left: 0;
  width: 500px;
  height: 500px;
  //background: #00FF80;
  background:conic-gradient(#d7d7d7, #c3c3c3, #cccccc, #c6c6c6,
								#d7d7d7, #c3c3c3, #cccccc, #c6c6c6,
								#d7d7d7, #c3c3c3, #cccccc, #c6c6c6,
								#d7d7d7, #c3c3c3, #cccccc, #c6c6c6);
  box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
  transition: .5s;
}

.a .liquid::after,
.a .liquid::before {
  content: '';
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #000;
}

.a .liquid::before {
  
  border-radius: 45%;
  background: rgba(20, 20, 20,  1);
  animation: animate 10s linear infinite;
}

.a .liquid::after {
  
  border-radius: 40%;
  background: rgba(20, 20, 20, .5);
  animation: animate 15s linear infinite;
}



@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}

*/
.welcomeContent{   
    margin-top: 130px;
    width: 100%;
    display: flex;   
    flex-direction: column;  
    justify-content: center;
    align-items: center;
  
}

.pippo { font-size: 200px; }

.imagePanic{   
    width: 400px;
    height: 400px;  
    margin-bottom: 100px;

}

.astro{   
  width: 250px;
  height: 250px;  
  margin-top: 60px;
  margin-bottom: 0;
  //box-shadow: 2px 2px var(--boxshadow-view) -5px #f7e7b3;
  filter: drop-shadow(5px 2px 2px #f7e7b32a) contrast(187%) saturate(300%);
  //filter: contrast(187%);
  animation: slideUp 4s ease-in-out infinite;
}

.contentAstronautsRocket{
  margin: none;
  padding: none;
  z-index: -1000;
  .astro{
    margin-top: -300px;
    margin-left: -50%;
    width: 550px;
    height: 550px;
    animation: slideUpAndDown 4s ease-in-out infinite;
  }
}

.contentAstronauts{
  align-self:flex-end;
  margin-right: 70px;
  margin-bottom: -200px;

}

.contentPanicWord{
  text-align: center;
  .astroCart{
    width: 250px;
    height: 250px;
    margin-bottom: -90px;
    margin-right: 40%;
  }
}

.welcomeMessage{     
    font-size: 200px !important;
    color: white;
    text-align: center;
}

.contentLink{
   // margin-top: 100px;
    margin-bottom: 300px;
    margin-left: 500px;    
  // margin-right: -100px;
}
/*
.linkStart:hover{
    font-size: 80px;
}*/

.canvasContainer{
    margin-top: 150px;
}



//key frames
.linkStart {
    z-index: 1;
    font-size: 45px;
    position: relative;
    display: inline-block;
    padding: 30px 61px;
    border-radius: 4px;
    color: var(--text-color-body);
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    margin: 25px;
    border: 2px solid transparent;
    //filter: hue-rotate(0deg);   
    transition: all 0.1s linear;      
      
    span {
        position: absolute;
        display: block;
  
        &:nth-child(1) {
        //  filter: hue-rotate(0deg);
          top: 0;
          left: 0;
          width: 100%;
          height: 3px;
          background: linear-gradient(90deg, transparent, #35e986);
          animation: animate1 3s linear infinite;
        }
        @keyframes animate1 {
          0% {
            left: -100%;
          }
          50%,
          100% {
            left: 100%;
          }
        }
  
        &:nth-child(2) {
          //filter: hue-rotate(60deg);
          top: -100%;
          right: 0;
          width: 3px;
          height: 100%;
          background: linear-gradient(180deg, transparent, #35e986);
          animation: animate2 3s linear infinite;
          animation-delay: 0.75s;
        }
  
        @keyframes animate2 {
          0% {
            top: -100%;
          }
          50%,
          100% {
            top: 100%;
          }
        }
        &:nth-child(3) {
         // filter: hue-rotate(120deg);
          bottom: 0;
          right: 0;
          width: 100%;
  
          background: linear-gradient(270deg, transparent, #35e986);
          animation: animate3 3s linear infinite;
          animation-delay: 1.5s;
        }
        @keyframes animate3 {
          0% {
            right: -100%;
            height: 3px;
          }
          50%,
          100% {
            height: 2px;
            right: 100%;
          }
        }
  
        &:nth-child(4) {
          //filter: hue-rotate(300deg);
          bottom: -100%;
          left: 0;
          width: 3px;
          height: 100%;
          background: linear-gradient(360deg, transparent, #35e986);
          animation: animate4 3s linear infinite;
          animation-delay: 2.25s;
        }
        @keyframes animate4 {
          0% {
            bottom: -100%;
          }
          50%,
          100% {
            bottom: 100%;
          }
        }
      }
    
  }


  .linkStart:before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    width: 60px;
    height: 100%;
    top: 0;
    left: -40px;
    filter: blur(30px);
    transform: translateX(-100px) skewX(-15deg);
  }

  .linkStart:after  {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    width: 30px;
    height: 100%;
    top: 0;
    left: -40px;
    filter: blur(5px);
    transform: translateX(-100px) skewX(-15deg);
  }

  .linkStart:hover  {
    &::before,
    &::after {
        
      transform: translateX(500px) skewX(-15deg);
      transition: .9s;
      
    }

    i{
      animation: slideRight 2s ease-in-out infinite;
    }
  }


  
  //////////////////////schede di presentazione////////////////////////
  /// /*
  .contentImage{
    position: absolute;
    z-index: 100;  
    width: 105px;
    height: 105px;
    background: white;    
    border-radius: 50px;
    margin-top: -30px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
    padding-top: 3px;
  }
  .imgCard{    
    width: 99px;
    height: 99px;     
  }

  .contentImageSecond{
    margin-top: 130px;
    margin-left: -20px;    
  }
  .imageContentThird{
    margin-top: -10%;
    margin-left: 10px;
  }
  .imageContentFourth{
    margin-left: 8%;
  }

  .contentImageBottom{
    margin-left: 83%;
    margin-top: 115px;
  }
  .adjustTop{
    margin-top: -45px;
  }
  .adjustBottom{
    margin-top: 130px;
  }

  .imgZen{
    margin-left: 5px;
    width: 95px;
    height: 95px;
  }

  .imgMuscle{
    width: 115px;
    margin-right: 5px;
  }
  .contentPresentationGlobal{
   display: flex;   
   flex-wrap: wrap;
  }
  .contentSchedes{
    flex: 100%;
    display: flex;
    justify-content: center;
   
  }

  .presentationSchedes{  
    min-height: 200px;
    width: 500px;    
    margin-bottom: 70px;
    font-size: 40px;
    text-align: center;   
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .firstSchedes{
    margin-top: 100px;
  }

  .lastSchedes{
    width: 80% !important;
    margin-left: 10%;
  }

  .withBody{
    background-color: rgb(241, 237, 237);
    
    border: 1px solid var(--navbar-color);
    color: black;
    border-radius: 30px;
    -webkit-box-shadow: 2px 2px var(--boxshadow-view) -5px #f7e7b3; 
    box-shadow: 2px 2px var(--boxshadow-view) -5px #f7e7b3;
  }

  .withOutBody{
    color: white;
    text-shadow: 1px 1px 3px #fffbed;
  }

  .left{
    margin-right: 30px;
  }
  .right{
    margin-left: 30px;
  }

//////////////////////schede di presentazione////////////////////////
  @keyframes slideRight {
    0%,
    100% {
      transform: translate(0, 0);
    }
  
    50% {
      transform: translate(15px, 0);
    }
  }

  @keyframes slideUp {
    0%,
    100% {
      transform: translate(0, 15px);
    }
  
    50% {
      transform: translate(0, -10px);
    }
  }

  @keyframes slideUpAndDown {
    0%,
    100% {
      transform: translate(-5px, 15px);
    }
  
    50% {
      transform: translate(10px, -10px);
    }
  }


  /*
  @media screen and (max-width: 1200px) {


  }
*/
  @media screen and (max-width: 1024px) {
    .reversed{
      flex-direction: column-reverse;     
      align-items: center;     
    }

    .contentSchedes{      
      flex: 100%;
      flex-wrap: wrap;      
    }

    .left{
      margin-right: 0;
    }
    .right{
      margin-left: 0;
    }

  }

  @media screen and (max-width: 768px) {

    .firstSchedes{
      .contentImage{
        margin-left: -20px;
      }
    }
    .contentSchedes{
    p{    
      font-size:4vw;
     }
    }
    .contentImageBottom{     
      margin-left: 78%;
    }  

    .contentPanicWord{      
      .astroCart{        
        margin-bottom: -78px;        
      }
    }

    .welcomeMessage{     
      font-size: 150px !important;      
    }

    .contentAstronautsRocket{     
      .astro{        
        margin-left: 20%;         
      }
    }

    .linkStart {
      font-size: 35px !important;  
     
    }
    .contentLink{      
      margin-left: 0px; 
    }

  }

  @media screen and (max-width: 480px) {

    .contentImage{     
      width: 80px;
      height: 80px;
    }

    .imgCard{
      width: 74px;
      height: 74px;
    }

    .contentImageBottom{      
      margin-top: 125px;
    }
    .adjustBottom{
      margin-top: 135px;
    }
    .contentSchedes{
      p{    
        font-size:6vw;
       }
      }


    .contentPanicWord{
      
      .astroCart{
        width: 200px;
        height: 200px;
        margin-bottom: -58px;
        
      }
    }
    .welcomeMessage{     
      font-size: 98px !important;      
    }
    .contentAstronautsRocket{      
      .astro{        
        width: 400px;
        height: 400px;       
        margin-top: -250px;
        margin-left: 30%;         
      }
    }
    .linkStart {
      font-size: 25px !important;   
      i{
        font-size: 20px !important;
      } 
    }

    .presentationSchedes{  
      min-height: 200px;
      width: 350px;    
      margin-bottom: 70px;
      font-size: 25px;
      text-align: center;
      padding-top: 15px;
    }



  }