
.welcomeContent{   
    margin-top: 130px;
    width: 100%;
    display: flex;   
    flex-direction: column;  
    justify-content: center;
    align-items: center;
  
}

.pippo { font-size: 200px; }

.imagePanic{   
    width: 400px;
    height: 400px;  
    margin-bottom: 100px;

}

.astro{   
  width: 250px;
  height: 250px;  
  margin-top: 60px;
  margin-bottom: 0;
  animation: slideUp 4s ease-in-out infinite;
}

.contentAstronautsRocket{
  margin: none;
  padding: none;
  z-index: -1000;
  .astro{
    margin-top: -300px;
    margin-left: -50%;
    width: 550px;
    height: 550px;
    animation: slideUpAndDown 4s ease-in-out infinite;
  }
}

.contentAstronauts{
  align-self:flex-end;
  margin-right: 70px;
  margin-bottom: -200px;

}

.contentPanicWord{
  text-align: center;
  .astroCart{
    width: 250px;
    height: 250px;
    margin-bottom: -90px;
    margin-right: 40%;
  }
}

.welcomeMessage{     
    font-size: 200px !important;
    color: white;
    text-align: center;
}

.contentLink{
   // margin-top: 100px;
    margin-bottom: 300px;
    margin-left: 500px;    
  // margin-right: -100px;
}
/*
.linkStart:hover{
    font-size: 80px;
}*/

.canvasContainer{
    margin-top: 150px;
}



//key frames
.linkStart {
    z-index: 1;
    font-size: 45px;
    position: relative;
    display: inline-block;
    padding: 30px 61px;
    border-radius: 4px;
    color: var(--text-color-body);
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    margin: 25px;
    border: 2px solid transparent;
    //filter: hue-rotate(0deg);   
    transition: all 0.1s linear;      
      
    span {
        position: absolute;
        display: block;
  
        &:nth-child(1) {
        //  filter: hue-rotate(0deg);
          top: 0;
          left: 0;
          width: 100%;
          height: 3px;
          background: linear-gradient(90deg, transparent, #35e986);
          animation: animate1 3s linear infinite;
        }
        @keyframes animate1 {
          0% {
            left: -100%;
          }
          50%,
          100% {
            left: 100%;
          }
        }
  
        &:nth-child(2) {
          //filter: hue-rotate(60deg);
          top: -100%;
          right: 0;
          width: 3px;
          height: 100%;
          background: linear-gradient(180deg, transparent, #35e986);
          animation: animate2 3s linear infinite;
          animation-delay: 0.75s;
        }
  
        @keyframes animate2 {
          0% {
            top: -100%;
          }
          50%,
          100% {
            top: 100%;
          }
        }
        &:nth-child(3) {
         // filter: hue-rotate(120deg);
          bottom: 0;
          right: 0;
          width: 100%;
  
          background: linear-gradient(270deg, transparent, #35e986);
          animation: animate3 3s linear infinite;
          animation-delay: 1.5s;
        }
        @keyframes animate3 {
          0% {
            right: -100%;
            height: 3px;
          }
          50%,
          100% {
            height: 2px;
            right: 100%;
          }
        }
  
        &:nth-child(4) {
          //filter: hue-rotate(300deg);
          bottom: -100%;
          left: 0;
          width: 3px;
          height: 100%;
          background: linear-gradient(360deg, transparent, #35e986);
          animation: animate4 3s linear infinite;
          animation-delay: 2.25s;
        }
        @keyframes animate4 {
          0% {
            bottom: -100%;
          }
          50%,
          100% {
            bottom: 100%;
          }
        }
      }
    
  }


  .linkStart:before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    width: 60px;
    height: 100%;
    top: 0;
    left: -40px;
    filter: blur(30px);
    transform: translateX(-100px) skewX(-15deg);
  }

  .linkStart:after  {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    width: 30px;
    height: 100%;
    top: 0;
    left: -40px;
    filter: blur(5px);
    transform: translateX(-100px) skewX(-15deg);
  }

  .linkStart:hover  {
    &::before,
    &::after {
        
      transform: translateX(500px) skewX(-15deg);
      transition: .9s;
      
    }

    i{
      animation: slideRight 2s ease-in-out infinite;
    }
  }


  
  //////////////////////schede di presentazione////////////////////////
  /// /*
  .contentPresentationGlobal{
   display: flex;   
   flex-wrap: wrap;
  }
  .contentSchedes{
    flex: 100%;
    display: flex;
    justify-content: center;
  }

  .presentationSchedes{  
    min-height: 200px;
    width: 500px;    
    margin-bottom: 70px;
    font-size: 40px;
    text-align: center;
    padding-top: 15px;
  }

  .firstSchedes{
    margin-top: 100px;
  }

  .withBody{
    background-color: white;
    border: 5px solid var(--navbar-color);
    color: black;
    border-radius: 30px;
    
  }

  .withOutBody{
    color: white;

  }

  .left{
    margin-right: 30px;
  }
  .right{
    margin-left: 30px;
  }

//////////////////////schede di presentazione////////////////////////
  @keyframes slideRight {
    0%,
    100% {
      transform: translate(0, 0);
    }
  
    50% {
      transform: translate(15px, 0);
    }
  }

  @keyframes slideUp {
    0%,
    100% {
      transform: translate(0, 15px);
    }
  
    50% {
      transform: translate(0, -10px);
    }
  }

  @keyframes slideUpAndDown {
    0%,
    100% {
      transform: translate(-5px, 15px);
    }
  
    50% {
      transform: translate(10px, -10px);
    }
  }


  /*
  @media screen and (max-width: 1200px) {


  }
*/
  @media screen and (max-width: 1024px) {
    .reversed{
      flex-direction: column-reverse;     
      align-items: center;     
    }

    .contentSchedes{      
      flex: 100%;
      flex-wrap: wrap;      
    }

    .left{
      margin-right: 0;
    }
    .right{
      margin-left: 0;
    }

  }

  @media screen and (max-width: 768px) {
    .contentPanicWord{      
      .astroCart{        
        margin-bottom: -78px;        
      }
    }
    .welcomeMessage{     
      font-size: 150px !important;      
    }

    .contentAstronautsRocket{     
      .astro{        
        margin-left: 20%;         
      }
    }

    .linkStart {
      font-size: 35px !important;  
     
    }
    .contentLink{      
      margin-left: 0px; 
    }

  }

  @media screen and (max-width: 480px) {
    .contentPanicWord{
      
      .astroCart{
        width: 200px;
        height: 200px;
        margin-bottom: -58px;
        
      }
    }
    .welcomeMessage{     
      font-size: 98px !important;      
    }
    .contentAstronautsRocket{      
      .astro{        
        width: 400px;
        height: 400px;       
        margin-top: -250px;
        margin-left: 30%;         
      }
    }
    .linkStart {
      font-size: 25px !important;   
      i{
        font-size: 20px !important;
      } 
    }

    .presentationSchedes{  
      height: 150px;
      width: 350px;    
      margin-bottom: 70px;
      font-size: 25px;
      text-align: center;
      padding-top: 15px;
    }


  }