<!--
<div class="canvasContainer">
    <app-cube></app-cube>
</div>-->

<div class="containerArrow" id="containerArrow">
    <div class="arrow"></div>
    <div class="arrow"></div>
    <div class="arrow"></div>
</div>

<div class="welcomeContent">

    <p-dialog class="modalWin"  [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}">
        <ng-template pTemplate="header">
            <h2>{{'welcome.popupBetaSiteTitle' | translate }}</h2>
        </ng-template>
        <div class="dialogContentBody">           
            <p>                
                {{'welcome.popupBetaSiteMessage1' | translate }} 
                <br>
                {{'welcome.popupBetaSiteMessage1b' | translate }}
                <br><br>
                {{'welcome.popupBetaSiteMessage2' | translate }}
            <a href="https://www.youtube.com/@marcospacecoding" target="_blank">{{'welcome.tube' | translate }}</a> {{'welcome.popupBetaSiteMessage3' | translate }}<br><br>
            </p>
        </div>
        
        <div class="dialogContentButton">
        
            <button type="button" pButton (click)="hideModal()">
                <i class="pi pi-check"></i>   
            </button>
        </div>     
    
    </p-dialog>

    <div class="contentAstronauts">
        <img class="astro" src="assets/images/welcome.component/image/AstroB.png" />
    </div>
    <div class="contentPresentationGlobal">


        <!--
        <div class="left withBody a" data-aos="fade-right" data-aos-duration="900">
            <p>  Vuoi imparare le tecnologie necessarie per costruire le tue applicazioni?    </p> 
            <div class="liquid"></div>
        </div>               
    -->

        <div class="contentSchedes firstSchedes">

            <div class="presentationSchedes left withOutBody" data-aos="fade-right" data-aos-duration="900">
                <p> {{'welcome.messageOneLeft' | translate }}</p>
            </div>

            <div data-aos="fade-left" data-aos-duration="900">
               
                <div class="presentationSchedes right withBody">
                    <div class="content">
                    <div class="contentImage">
                        <img class="imgCard" src="assets/images/welcome.component/image/astroConfuse.png" />
                    </div>
                    <p> {{'welcome.messageOneRight' | translate }}</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="contentSchedes reversed">

            <div data-aos="fade-right" data-aos-duration="900">
               
                <div class="presentationSchedes left  withBody">
                    <div class="content">
                    <div class="contentImage contentImageSecond">
                        <img class="imgCard" src="assets/images/welcome.component/image/astroStudy2.png" />
                    </div>
                    <p> {{'welcome.messageTwoLeft' | translate }} </p>
                </div>
                </div>
            </div>
            <div class="presentationSchedes right withOutBody" data-aos="fade-left" data-aos-duration="900">
                <p> {{'welcome.messageTwoRight' | translate }}</p>
            </div>
        </div>

        <div class="contentSchedes">
            <div class="presentationSchedes left withOutBody" data-aos="fade-right" data-aos-duration="900">
                <p> {{'welcome.messageThreeLeft' | translate }}</p>
            </div>

            <div data-aos="fade-left" data-aos-duration="900">
               
                <div class="presentationSchedes right withBody">
                    <div class="content">
                    <div class="contentImage imageContentThird">
                        <img class="imgCard" src="assets/images/welcome.component/image/astroStudy3.png" />
                    </div>
                    <p> {{'welcome.messageThreeRight' | translate }} </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="contentSchedes">
            <div class="presentationSchedes left withBody" data-aos="fade-right" data-aos-duration="900">
                <p> {{'welcome.messageFour' | translate }}</p>
            </div>
        </div>
        <div class="contentSchedes">
            <div style="width: 100%;" data-aos="fade-left" data-aos-duration="900">
                
                <div class="presentationSchedes left withBody lastSchedes">
                    <div class="content">
                    <div class="contentImage imageContentFourth adjustTop">
                        <img class="imgCard" src="assets/images/welcome.component/image/astroNervoso.png" />
                    </div>
                    
                    <p class="textModify"> {{'welcome.messageFive' | translate }}</p>
                    <div class="contentImage contentImageBottom adjustBottom">
                        <img class="imgCard imgZen" src="assets/images/welcome.component/image/astroStudy.png" />
                    </div>
                </div>
                </div>
                
            </div>
        </div>

        <div class="contentSchedes sixthSchede">
            <div style="width: 100%;" data-aos="fade-right" data-aos-duration="900">
                
            <div class="presentationSchedes left withBody lastSchedes" >
                <div class="content">
                <div class="contentImage imageContentFourth adjustTop">
                    <img class="imgCard" src="assets/images/welcome.component/image/astroPC.png" />
                </div>                
                <p class="textModifyAlt"> {{'welcome.messageSix' | translate }}</p>
                <div class="contentImage contentImageBottom adjustBottom">
                    <img class="imgCard imgZen" src="assets/images/welcome.component/image/astroZen2.png" />
                </div>
            </div>
            </div>
        </div>
        </div>

        <div class="contentSchedes">
            <div style="width: 100%;" data-aos="fade-left" data-aos-duration="900">
                
            <div class="presentationSchedes left withBody lastSchedes" >
                <div class="content">
                <div class="contentImage imageContentFourth adjustTop">
                    <img class="imgCard imgMuscle" src="assets/images/welcome.component/image/astroMuscle.png" />
                </div>                
                <p class="textModify" >{{'welcome.messageSeven' | translate }}
                </p>
                <div class="contentImage contentImageBottom adjustBottom">
                    <img class="imgCard imgZen" src="assets/images/welcome.component/image/astroNinja.png" />
                </div>
            </div>
            </div>
        </div>
        </div>

    </div>

    <div class="container">
   
    <div class="contentPanicWord">
        <img class="astroCart" src="assets/images/welcome.component/image/astroCart.png" />
        <h1 class="welcomeMessage">{{'welcome.title' | translate }}</h1>
    </div>
</div>
    <div class="contentLink">
        <div class="contentLogoPollice">
            <img class="imagePanic welcomeContent" src="assets/images/welcome.component/image/2p.png" />
        </div>
    
        <a class="linkStart" href="javascript:void(0)" (click)="goToCourses()">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            {{'welcome.linkStart' | translate }}
            <i class="pi pi-forward" style="font-size: 2rem"></i>
        </a>
        <div class="contentAstronautsRocket">
            <img class="astro" src="assets/images/welcome.component/image/astroRocketFinal.png" />
        </div>
    </div>


</div>