$desktop: 960px; 

body {
    --background-color: rgb(255, 255, 255);
    --background-color-ContentTutorial: rgb(255, 255, 255);
    --component-color: #3B82F6; //#3B82F6    
    --text-color: rgb(0, 0, 0);
    --icon-color:rgb(0, 0, 0);
    --boxshadow-view: 15px;

    --text-color-body: rgb(255, 255, 255);

    --font-family-global: 'Times New Roman', Times, serif;//Verdana, sans-serif, serif, Arial, Helvetica, 'Times New Roman', Times;
    font-family: var(--font-family-global);

    --background-color-content-tutorial: rgb(230, 230, 230);//rgb(68,70,84);//rgb(52, 53, 65)
    
    --text-color-content-tutorial:black;

    --navbar-color: #007bb8;// #007bb8
        --font-size: 15px;
        --font-weight: 600;
        --navbar-hover-component-color: #00aaff;//#00618b;
        --transition-delay-hover: 0.5s;
        --logo-url: "../../assets/images/header.component/varie/logo-white.png";

    --button-tutorial-navigate-border: rgb(81 41 10 / 90%);//rgba(171 95 37 / 70%);
    --button-tutorial-navigate-first-shadow-color: rgb(81 41 10 / 30%);//rgba(193 105 37 / 30%);
    --button-tutorial-navigate-second-shadow-color: rgb(81 41 10 / 90%);//rgba(171 95 37 / 40%);
    --border-menu-color: white;
    //sideBar
    --icon-hover-side-bar: #58c4fa;
    --box-shadow-color1: rgba(0, 0, 0, 0.3);
    --box-shadow-color2: rgba(0, 0, 0, 0.1);
    
    --scroll-bar-color-primary: #00ffe7;
    --scroll-bar-color-secondary: rgb(16, 69, 243);
    --geometry-color: rgb(252, 243, 243);
    
    --transition-delay: 1s;

    //code colors
    --keword-color: rgba(212, 0, 255, 0.993);/*255, 145, 0, 0.904*/
    --className-color: #556ef8;/*rgb(255, 208, 0);#556ef8*//*255, 145, 0, 0.904*/
    --methodName-color: rgb(216, 87, 1);/*255, 145, 0, 0.904*/
    --stringArgument: rgba(42, 146, 1, 0.877);
    --comment-single-line: rgb(63, 66, 63);
    --background-color-content-courses: rgb(230, 230, 230, 0.9);
    

    --link-color: #0000EE;

    //template hidden
    --box-shadow-inset-unset: ;
    --box-shadow-button-color: #36486b;
   
   // background-color: var(--background-color);
    background: url("./assets/images/background/background_galaxy.png") black;
    transition: var(--transition-delay);
  
    overflow-x: hidden;

    //footer

    --wave-url-png: url("./assets/images/footer.component/wave-light.png");
}

/////////////////////////////scroll bar
::-webkit-scrollbar{
    width: 8px;       
}
::-webkit-scrollbar-track{   
    background-color: rgba(255, 255, 255, 0.09);   
    border-radius: 10px;    
}
::-webkit-scrollbar-thumb{   
    transition: var(--transition-delay); 
     background: linear-gradient(to top, var(--scroll-bar-color-secondary), var(--scroll-bar-color-primary));    //#00ffe7      
     border-radius: 10px;     
}
/////////////////////////////scroll bar

body.dark {

    --background-color: #121212;
    --background-color-ContentTutorial: rgb(100, 100, 100);
    --component-color: #9511ec; //#3B82F6
    --text-color: rgb(198, 218, 227);//rgb(190, 206, 214);//rgb(196, 222, 234);// rgb(219, 203, 203);
    --icon-color:rgb(219, 203, 203);

    --background-color-content-tutorial: rgb(64, 67, 73);//rgb(68,70,84);//rgb(52, 53, 65)
    
    --text-color-content-tutorial:rgb(223, 223, 223);//rgb(209,206,215)
    //    border: 1px solid rgb(252 253 253); bordi per i bottoni
    --boxshadow-view: 5px;

    --navbar-color: rgb(35, 40, 112);//rgb(21, 27, 112);//rgb(12, 56, 151);// rgb(15, 10, 59);//rgb(6, 0, 59);//corrispettivo hex #06003b 
        --navbar-hover-component-color: rgb(52, 59, 158);// #231a72;
        --logo-url: "../../assets/images/header.component/varie/logo-white.png";

    --border-button-tutorial-navigate: rgb(60 47 38 / 90%);
    --button-tutorial-navigate-first-shadow-color: rgb(60 47 38 / 30%);
    --button-tutorial-navigate-second-shadow-color: rgb(60 47 38 / 30%);
    --border-menu-color: rgb(206, 197, 197);

    //sideBar
    --icon-hover-side-bar: #272069;
    --box-shadow-color1: rgba(102, 96, 96, 0.3);
    --box-shadow-color2: rgba(102, 96, 96, 0.1);

    //code colors
    --keword-color: rgba(188, 42, 218, 0.993);/*255, 145, 0, 0.904*/
    --className-color: #3e57e4;/*rgb(255, 208, 0);#556ef8*//*255, 145, 0, 0.904*/
    --methodName-color: rgb(218, 110, 38);/*255, 145, 0, 0.904*/
    --stringArgument: rgba(76, 173, 37, 0.877);
    --comment-single-line: rgb(192, 182, 182);
    --background-color-content-courses: rgb(64, 67, 73, 0.9);

    --link-color: #2d8ec7;

    //template hidden
    --box-shadow-inset-unset: inset;
    --box-shadow-button-color: #6d7b97;

    --geometry-color: rgb(73, 73, 73);
    --scroll-bar-color-primary: #00c3ff;
    --scroll-bar-color-secondary: rgb(2, 16, 212);
    transition: var(--transition-delay);

    //footer
    --wave-url-png: url("./assets/images/footer.component/wave-dark.png");
}


/////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////Chenge THEME//////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////

 /*
.canvasContainer{
    margin-top: -100;
    z-index: -1000;
}
.sun-container{
    margin-left: 50%;
    margin-top: 10px;
    position: absolute;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 200vmin;
    z-index: -1;    
}


.moon-sun-container{
    --rotation: 0;   
    margin-left: 50%;
    margin-top: 10px;
    position: absolute;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 200vmin;
    transform: rotate(var(--rotation));
    transition: transform var(--transition-delay);
    z-index: -1;    
}

 .sun-container img{
    height: 100px;
    width: 100px;
}
.moon-sun-container img{    
    height: 80px;
    width: 80px;
}

.sun, .moon{    
    position: absolute;
    transition: opacity, fill,  var(--transition-delay);
    width: 30px;
    height: 30px;
    fill: var(--component-color) !important;
    z-index: -1;
}

.sun{
    top: 60px;
}

.moon{
    bottom: 70px;
    opacity: 0;
    transform: rotate(180deg);
}

.dark .moon{
    opacity: 1;
}

.dark .moon-sun-container{
    --rotation: 180deg;    
}*/
/////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////Chenge THEME//////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////

