/* You can add global styles to this file, and also import other style files */
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeng/resources/themes/lara-light-blue/theme.css";




@import "../src/globalVar.scss";
@import "../src/app/header/header.component.scss";
@import "app/tutorial-content/tutorial-body-content/tutorial-body-content.component.scss";


// this is the scss file of one of the 16 free styles of ngprime.


//sideBar
#sidebarGlobal {
  background: transparent;

  .p-tree {
    border: none;
    background: transparent;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-top: 0;
    padding-top: 0;
    width: 100%;

    .p-tree-wrapper {
      //  -webkit-box-shadow: 0px 0px 15px 0px var(--navbar-color), inset 5px 5px 15px 5px var(--navbar-color);
      box-shadow: inset 0px 0px 50px -10px var(--navbar-color);
    }

    .p-treenode {
      border-radius: 6px;

      .p-treenode-children {
        //background: white;
        margin-left: -5px;

        .p-tree-toggler {
          width: 25px !important;
        }

        .p-treenode {
          border: 1px solid black;
          background: white;

          .custom-p-button-link,
          .custom-p-button-linkLeaf {
            width: 125%;
            color: var(--text-color); //scritta nelle celle figlie
            font-weight: var(--font-weight);
            font-size: 18px;
            text-align: left;
            padding-left: 0;
            margin-left: -35px;

            .paragraphSidebarContent {
              width: 160px;
              padding-top: 4px;
            }





          }

          .custom-p-button-link:enabled:focus,
          .custom-p-button-linkLeaf:enabled:focus {
            box-shadow: none;

          }

          .custom-p-button-link:enabled:hover,
          .custom-p-button-linkLeaf:enabled:hover {
            .paragraphSidebarContent {
              text-decoration: underline;
            }

          }
        }
      }

      .p-tree-toggler {
        //è la freccetta
        margin-right: 20px;
        color: var(--icon-color);

        &:hover {
          background: var(--icon-hover-side-bar);
        }
      }

      .p-tree-toggler:not(.p-disabled):focus {
        outline: 0 none !important;
        outline-offset: 0 !important;
        box-shadow: none !important;
        border: none !important;
      }
    }

    .p-treenode-content {
      background: var(--navbar-color); //colore delle celle     
      margin-right: 0;
      margin-top: -10px;
      margin-left: 0;
      padding-left: 0;
      border: 1px solid black;
      justify-content: left;

      &:hover {
        background: var(--navbar-hover-component-color);
      }

    }

  }


  .custom-p-button-link,
  .custom-p-button-linkLeaf {

    width: 113%;
    color: var(--text-color); //scritta nelle celle root
    font-weight: var(--font-weight);
    font-size: 18px;
    text-align: left;
    padding: 0;
    margin-left: -20px;

  }

  .custom-p-button-link:enabled:focus,
  .custom-p-button-linkLeaf:enabled:focus {
    box-shadow: none;
  }

  .custom-p-button-link:enabled:hover,
  .custom-p-button-linkLeaf:enabled:hover {
    .paragraphSidebarContent {
      text-decoration: underline;
    }
  }





}

//skeleton
.p-skeleton {
  background-color: #cad6e2;
  border-radius: 6px;
}

.p-skeleton:after {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
}

#burger:checked~.sidebar {



  .custom-p-button-link:enabled:hover,
  .custom-p-button-linkLeaf:enabled:hover {
    .paragraphSidebarChapter {
      text-decoration: underline;
    }
  }

  .custom-p-button-linkLeaf {
    width: 180% !important;
    color: black;
    font-size: 15px;
    text-align: left;
    padding: 0;
    margin-left: -20px !important;
  }

  .custom-p-button-link {
    margin-left: -11px !important;
  }

}

//sideBar


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


/*
  @media screen and (max-width: 1200px) {


  }

  @media screen and (max-width: 1024px) {


  }*/

@media screen and (max-width: 768px) {
  #sidebarGlobal {
    .p-tree {
      .p-tree-container {
        overflow: hidden !important;
      }
    }
  }

}

@media screen and (max-width: 480px) {}