

<!--
<div class="canvasContainer">
    <app-cube></app-cube>
</div>-->

<div class="welcomeContent">       
      
      <div class="content">
          <img class="imagePanic welcomeContent" src="assets/images/welcome.component/image/2p.png" />
      </div>
      <div class="content">
          <h1 class="welcomeMessage">{{'welcome.title' | translate }}</h1>
      </div>  
    
      <div class="contentLink">        
        <a class="linkStart" href="javascript:void(0)" [routerLink] = "['/code/java']">
            
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            {{'welcome.linkStart' | translate }}    
            <i class="pi pi-forward" style="font-size: 2rem"></i>       
          </a>
        </div>
       
      
  </div>
  
 
