
.welcomeContent{   
    margin-top: 130px;
    width: 100%;
    display: flex;   
    flex-direction: column;  
    justify-content: center;
    align-items: center;
  
}

.pippo { font-size: 200px; }

.imagePanic{   
    width: 400px;
    height: 400px;  
    margin-bottom: 100px;

}
.welcomeMessage{     
    font-size: 200px !important;
    color: white;
    text-align: center;
}
.contentLink{
    margin-top: -100px;
    margin-bottom: 300px;
    margin-left: 500px;

   
    
}
/*
.linkStart:hover{
    font-size: 80px;
}*/

.canvasContainer{
    margin-top: 150px;
}



//key frames
.linkStart {
    font-size: 45px;

    position: relative;
    display: inline-block;
    padding: 30px 61px;
    border-radius: 4px;
    color: var(--text-color-body);
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    margin: 25px;
    border: 2px solid transparent;
    //filter: hue-rotate(0deg);   
    transition: all 0.1s linear;      
      
    span {
        position: absolute;
        display: block;
  
        &:nth-child(1) {
        //  filter: hue-rotate(0deg);
          top: 0;
          left: 0;
          width: 100%;
          height: 3px;
          background: linear-gradient(90deg, transparent, #35e986);
          animation: animate1 3s linear infinite;
        }
        @keyframes animate1 {
          0% {
            left: -100%;
          }
          50%,
          100% {
            left: 100%;
          }
        }
  
        &:nth-child(2) {
          //filter: hue-rotate(60deg);
          top: -100%;
          right: 0;
          width: 3px;
          height: 100%;
          background: linear-gradient(180deg, transparent, #35e986);
          animation: animate2 3s linear infinite;
          animation-delay: 0.75s;
        }
  
        @keyframes animate2 {
          0% {
            top: -100%;
          }
          50%,
          100% {
            top: 100%;
          }
        }
        &:nth-child(3) {
         // filter: hue-rotate(120deg);
          bottom: 0;
          right: 0;
          width: 100%;
  
          background: linear-gradient(270deg, transparent, #35e986);
          animation: animate3 3s linear infinite;
          animation-delay: 1.5s;
        }
        @keyframes animate3 {
          0% {
            right: -100%;
            height: 3px;
          }
          50%,
          100% {
            height: 2px;
            right: 100%;
          }
        }
  
        &:nth-child(4) {
          //filter: hue-rotate(300deg);
          bottom: -100%;
          left: 0;
          width: 3px;
          height: 100%;
          background: linear-gradient(360deg, transparent, #35e986);
          animation: animate4 3s linear infinite;
          animation-delay: 2.25s;
        }
        @keyframes animate4 {
          0% {
            bottom: -100%;
          }
          50%,
          100% {
            bottom: 100%;
          }
        }
      }
    
  }


  .linkStart:before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    width: 60px;
    height: 100%;
    top: 0;
    left: -40px;
    filter: blur(30px);
    transform: translateX(-100px) skewX(-15deg);
  }

  .linkStart:after  {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    width: 30px;
    height: 100%;
    top: 0;
    left: -40px;
    filter: blur(5px);
    transform: translateX(-100px) skewX(-15deg);
  }

  .linkStart:hover  {
    &::before,
    &::after {
        
      transform: translateX(500px) skewX(-15deg);
      transition: .9s;
      
    }

    i{
      animation: slideRight 2s ease-in-out infinite;
    }
  }

  @keyframes slideRight {
    0%,
    100% {
      transform: translate(0, 0);
    }
  
    50% {
      transform: translate(15px, 0);
    }
  }
